<div class="block">
	<div class="block-head">SQL запрос в базу данных</div>
	<div class="block-body">
		<form method="POST">
			<textarea name="SQL" style="min-width: 99%;max-width:100%;min-height:200px"><!--SYS_VAL%last%--></textarea>
			<input type="submit" class="btn bc_gray" value="Выполнить запрос">
		</form>
		<pre><!--SYS_VAL%error%--></pre>
	</div>
</div>
<!--SYS_BLOCK%answear%-->
<div class="block">
	<div class="block-head">Ответ</div>
	<ul class="block-body">
		<!--SYS_BLOCK%request%-->
		<li class="tline">
			<!--SYS_BLOCK%line%-->
			<div class="tline-cell"><!--SYS_VAL%content%--></div>
			<!--/SYS_BLOCK%line%-->
		</li>
		<!--/SYS_BLOCK%request%-->
	</ul>
</div>
<!--/SYS_BLOCK%answear%-->
