<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="shortcut icon" href="/<!--SYS_VAL%pubres%-->/pictures/favicon.png" type="image/x-icon">
		<link href="/<!--SYS_VAL%styles%-->/main.css" rel="stylesheet">
		<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap/?xml"/>
		<title><!--SYS_VAL%title%--></title>
		<!-- Автор шаблона: seriouscompany.ru -->
		<!-- Версия шаблона: <!--SYS_VAL%version%--> -->
		<!-- Версия ядра сайта: <!--SYS_VAL%core_version%--> -->
	</head>
	<body>	
		<header><div><!--SYS_VAL%title_page%--></div></header>
		<div class="HeadMenu">
			<ul>
				<!--SYS_BLOCK%menu%--><li><a href="<!--SYS_VAL%path%-->"><!--SYS_VAL%name%--></a></li><!--/SYS_BLOCK%menu%-->
			</ul>
		</div>
		<!--SYS_BLOCK%warning%-->
		<div id="warning_popup" class="overlay-popup">
		    <div class="popup">
		    <p><!--SYS_VAL%warn_message%--></p>
		    <button class="close" title="Закрыть" onclick="$('#warning_popup').remove();"></button>
		    </div>
	    </div>
		<!--/SYS_BLOCK%warning%-->
		<div class="wrapper">
			<!-- Панель пути -->
			<ul class="path">
			<!--SYS_BLOCK%path%--><li><a href="<!--SYS_VAL%path%-->"><!--SYS_VAL%name%--></a></li><!--/SYS_BLOCK%path%-->
			</ul>
<!--SYS_BLOCK%content%--><!--/SYS_BLOCK%content%-->
		</div>
		<footer><div><a href="http://core.seriouscompany.ru/" target="_blank" style="color:white;text-decoration:none;">SeriousCompanyCore</a> 2016-<!--SYS_VAL%date%--> г.</div></footer>
	</body>
	<script src="/<!--SYS_VAL%pubres%-->/js/jquery-3.2.1.min.js"></script>
	<script>$(function(){$('#warning_popup').show();});</script>
<!--SYS_BLOCK%script%--><!--/SYS_BLOCK%script%-->
</html>
