<div id="add_popup" class="overlay-popup" style="display:none">
	<div class="popup">
		<button class="close" title="Закрыть" onclick="$('#add_popup').hide();"></button>
		<h2>Добавить сервер</h2>
		<form method="POST">
			<input type="hidden" name="action" value="addServer">
			<table>
				<tr>
					<th>Название</th>
					<th><input type="text" name="name" placeholder="Название" requered></th>
				</tr>
				<tr>
					<th>Ip</th>
					<th><input type="text" name="ip" placeholder="Ip" requered></th>
				</tr>
				<tr>
					<th>Порт</th>
					<th><input type="text" name="port" placeholder="Порт" requered></th>
				</tr>
				<tr>
					<th>rcon порт</th>
					<th><input type="text" name="rcon_port" placeholder="rcon порт" requered></th>
				</tr>
				<tr>
					<th>rcon пароль</th>
					<th><input type="text" name="rcon_pass" placeholder="rcon пароль" requered></th>
				</tr>
				<tr>
					<th>Показывать публично</th>
					<th><input type="checkbox" name="show_sb"></th>
				</tr>
				<tr><th><input type="submit" value="Создать" class="btn_green"></th></tr>
			</table>
		</form>
		</div>
	</div>
	<div id="edit_popup" class="overlay-popup" style="display:none">
		<div class="popup">
		<button class="close" title="Закрыть" onclick="$('#edit_popup').hide();"></button>
		<h2>Редактирование сервера <a id="title-edit_popup"></a></h2>
		<form method="POST">
			<input type="hidden" name="action" value="editServer">
			<input type="hidden" name="id" requered>
			<table>
				<tr>
					<th>Название</th>
					<th><input type="text" name="name" requered></th>
				</tr>
				<tr>
					<th>Ip</th>
					<th><input type="text" name="ip" requered></th>
				</tr>
				<tr>
					<th>Порт</th>
					<th><input type="text" name="port" requered></th>
				</tr>
				<tr>
					<th>Новый rcon порт</th>
					<th><input type="text" name="rcon_port" requered></th>
				</tr>
				<tr>
					<th>Новый rcon пароль</th>
					<th><input type="text" name="rcon_pass" requered></th>
				</tr>
				<tr>
					<th>Показывать публично</th>
					<th><input type="checkbox" name="show_sb"></th>
				</tr>
				<tr><th><input type="submit" value="Изменить" class="btn_green"></th></tr>
			</table>
		</form>
		</div>
	</div>
	<div id="console_popup" class="overlay-popup" style="display:none">
		<div class="popup">
		<button class="close" title="Закрыть" onclick="$('#console_popup').hide();window.MineConsole = null;$('#ConsoleMessage').text('');"></button>
			<div id="ConsoleMessage" style="background:#000"></div>
			<input type="text" id="ConsoleCommand" placeholder="Команда">
			<a
				class="btn bc_gray event_sent_command"
			>Отправить</a>
		</div>
	</div>
<div class="pages"></div>
<div class="btn bc_gray" onclick="$('#add_popup').show();">Добавить</div>
<div class="block">
	<div class="block-head">Сервера</div>
	<form method="POST" action="/admin/servers/">
		<input type="hidden" name="action" value="changeServer">
		<ul id="table_content" class="block-body">
			<li class="tline el_title">
				<div class="tline-cell">Название</div>
				<div class="tline-cell">Публичный</div>
				<div class="tline-cell">Удалить</div>
				<div class="tline-cell">Действие</div>
			</li>
		</ul>
	</form>
</div>
<!--SYS_BLOCK%scripts%-->
<script>
	function updateContent(){
		$.get("",{"count":"true"},function(data){
			var con = "<a class=\'btn\'>1</a>";
			col=1;
			p=0;
			for(i=1;i<=data;i++){
				if(p==30){
					p=0;
					col++;
					con += "<a class=\'btn\'>"+col+"</a>";
				}
				p++;
			}
			$(".pages").html(con);
			$(".pages").find("a").click(function(){window.page = $(this).text();updateContent();});
		});
		
		$.get("",{"json":"true","page":window.page},function(data){
			var jdata = JSON.parse(data);
			var con = "";
			title = $(".el_title").html();
			for (var i in jdata) {
				con += "<li class=\"tline\" \
					data-id=\""+jdata[i]["id"]+"\" \
					data-name=\""+jdata[i]["name"]+"\" \
					data-ip=\""+jdata[i]["ip"]+"\" \
					data-port=\""+jdata[i]["port"]+"\" \
					data-pub=\""+jdata[i]["pub"]+"\"\
				>\
				<div class=\"tline-cell\">"+jdata[i]["name"]+"</div>\
				<div class=\"tline-cell\">"+jdata[i]["pub"]+"</div>\
				<div class=\"tline-cell\"><input type=\"checkbox\" name=\"delete[]\" value=\""+jdata[i]["id"]+"\"></div>\
				<div class=\"tline-cell\"><a class=\"btn bc_gray event_edit\" >Редактировать</a>\
				<a class=\"btn bc_gray event_console\" >Консоль</a></div>\
				</li>";
			}
			con += "<div class=\"tline-cell\"><input type=\"submit\" value=\"Применить\" class=\"btn bc_gray\"></div>";
			$("#table_content").html("<li class=\"tline el_title\">"+title+"</li>"+con);
			setEvents();
		});
	}
	function getData(t,a){
		return t.parent().parent().attr("data-"+a);
	}
	function replaceData(t,a) {
		$("#edit_popup").find("input[name="+a+"]").val(t.parent().parent().attr("data-"+a));
	}
	function setEvents(){
		$(".event_edit").click(function() {
			var editform = $("#edit_popup");
			$("#title-edit_popup").text(getData($(this),"name"));
			replaceData($(this),"id");
			replaceData($(this),"name");
			replaceData($(this),"ip");
			replaceData($(this),"port");
			if (getData($(this),"data-pub")=="1") {
				editform.find("input[name=show_sb]").attr("checked","true");
			} else {
				editform.find("input[name=show_sb]").removeAttr("checked");
			}
			editform.show();
		});
		$(".event_console").click(function() {
			window.ConsoleIdServer = getData($(this),"id");
			$("#console_popup").show();
		});
		$(".event_sent_command").click(function() {
			if (window.ConsoleIdServer == null) return false;
			$.post("/admin/",{
				"action":"sendConsoleCommand",
				"id":window.ConsoleIdServer,
				"command":$("#ConsoleCommand").val()
			},function(data){
				$("#ConsoleMessage").html(data);
				$("#ConsoleCommand").val("")
			});
		});
	}
	$(function($){
		window.page = 1;
		window.ConsoleIdServer = null;
		updateContent();
	});
</script>
<!--/SYS_BLOCK%scripts%-->