<html>
	<head>
		<title><!--SYS_VAL%title%--></title>
		<meta charset="UTF-8">
		<!-- Ядро сервера: SeriousCompanyCore -->
		<!-- Версия шаблона: <!--SYS_VAL%version%--> -->
		<!-- Версия ядра сайта: <!--SYS_VAL%core_version%--> -->
		<meta name="description" content="<!--SYS_VAL%description%-->">
		<meta name="keywords" content="<!--SYS_VAL%keywords%-->">
		<meta name="author" content="Vadimka">
	</head>
	<body>
		<!--SYS_BLOCK%list%-->
		<ul>
			<!--SYS_BLOCK%list_item%--> 
			<li><a href="<!--SYS_VAL%link%-->"><!--SYS_VAL%name%--></a></li>
			<!--/SYS_BLOCK%list_item%--> 
		</ul>
		<!--/SYS_BLOCK%list%--> 
		<!--SYS_BLOCK%file%--><pre><!--SYS_VAL%file%--></pre><!--/SYS_BLOCK%file%-->
	</body>
</html>
