<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap/?xml"/>
		<title>SeriousCompany</title>
		<!-- Автор шаблона: seriouscompany.ru -->
		<!-- Версия шаблона: <!--SYS_VAL%version%--> -->
		<!-- Версия ядра сайта: <!--SYS_VAL%core_version%--> -->
	</head>
	<body>
		<style>
			.container {
				display: block;
				text-align: center;
				width: 200px;
				height: 200px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -100px;
				margin-top: -200px;
			}
			.warning_er {
				color:red;
			}
			.warning_ok {
				color:green;
			}
		</style>
		<div class="container">
			<form method="POST" id="form_login">
				<input type="hidden" name="event" value="login">
				<h2>Авторизуйтесь</h2>
				<!--SYS_BLOCK%warning%-->
				<p class="warning_<!--SYS_VAL%status%-->"><!--SYS_VAL%message%--></p>
				<!--/SYS_BLOCK%warning%-->
				<p><label for="login">Логин</label></p>
				<p><input id="login"name="login"></p>
				<p><label for="password">Пароль</label></p>
				<p><input id="password" type="password" name="password"></p>
				<p><input type="submit" value="Авторизоваться"></p>
				<p><a 
					href="#" 
					onclick="document.getElementById('form_login').style.display = 'none';document.getElementById('form_register').style.display = null;"
					>Зарегистрироваться</a></p>
				<p><a href="<?=LOCALE_PREFIX;?>/" >На главную страницу</a></p>
				<p><a href="?logout" >Деавторизоваться</a></p>
			</form>
			<form id="form_register" method="POST" style="display:none;">
				<input type="hidden" name="event" value="register">
				<h2>Зарегистрируйтесь</h2>
				<p><label for="login">Логин</label></p>
				<p><input id="login" name="login"></p>
				<p><label for="password">Пароль</label></p>
				<p><input id="password" type="password" name="password"></p>
				<p><label for="confirm">Повторите пароль</label></p>
				<p><input id="confirm" type="password" name="password_confirm"></p>
				<p><input type="submit" value="Зарегистрироваться"></p>
				<p><a 
					href="#" 
					onclick="document.getElementById('form_login').style.display = null;document.getElementById('form_register').style.display = 'none';"
					>Авторизоваться</a></p>
				<p><a href="<?=LOCALE_PREFIX;?>/" >На главную страницу</a></p>
			</form>
		</div>
	</body>
</html>
