<!DOCTYPE html>
<html>
	<head>
		<title><!--SYS_VAL%title%--></title>
		<meta charset="UTF-8">
		<!-- Ядро сервера: SeriousCompanyCore -->
		<!-- Версия шаблона: <!--SYS_VAL%version%--> -->
		<!-- Версия ядра сайта: <!--SYS_VAL%core_version%--> -->
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
		<meta name="description" content="<!--SYS_VAL%description%-->">
		<meta name="keywords" content="<!--SYS_VAL%keywords%-->">
		<meta name="author" content="Vadimka">
		<link rel="stylesheet" href="<!--SYS_VAL%css%-->/bootstrap.min.css">
		<link rel="stylesheet" href="<!--SYS_VAL%css%-->/main.css">
	</head>
	<body>
		<!--SYS_BLOCK%warning%-->
		<div class="modal" tabindex="-1" role="dialog" id="warning" >
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<p><!--SYS_VAL%warn_message%--></p>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  </div>
			</div>
		  </div>
		</div>
		<!--/SYS_BLOCK%warning%-->
		<div class="topheader">
			<div class="uptitle"><!--SYS_VAL%pageTitle%--></div>
			<div class="row middlemessage">
				<div class="col-sm">
					<div class="h-middle-block left">
						<div class="text-center title">Оглавление</div>
						<ul>
							<li><a href>Как зародилось ядро?</a></li>
							<li><a href>Зачем мне оно надо?</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm right">
					<div class="h-middle-block right">
						<div class="text-center title">Главные достоинства</div>
						<ul>
							<li>Разделенная php и html части.</li>
							<li>Легко дополняемый функционал, который также просто вычистить, за счет того, что основной функционал выполняют модули.</li>
							<li>Отдельная система эвентов, чтобы их не приходилось встраивать в код контейнеров.</li>
							<li>Легкая система настроек. Все настройки хранятся в json и подгружаются одним методом.</li>
							<li>Система локализации, которая позволяет задавать глобальные фразы и для определенной страницы</li>
							<li>Система шаблонов, которые можно переключать в любой момент</li>
						</ul>
					</div>
				</div>
			</div>
			<ul class="menu">
				<li><a href>Главная</a></li>
				<li><a href>Исходный код</a></li>
				<li><a href>Загрузить</a></li>
			</ul>
		</div>
		<!--SYS_BLOCK%content%--><!--/SYS_BLOCK%content%--> 
		<script src="<!--SYS_VAL%pubres%-->/js/jquery-3.2.1.min.js"></script>
		<script src="<!--SYS_VAL%js%-->/bootstrap.min.js"></script>
		<script>$(function(){$('#warning').modal();});</script>
		<!--SYS_BLOCK%script%--><!--/SYS_BLOCK%script%--> 
	</body>
</html>
