		<div class="topheader">
			<div class="uptitle"><!--SYS_VAL%pageTitle%--></div>
			<div class="row middlemessage">
				<!--SYS_BLOCK%top_block%-->
				<div class="col d-flex justify-content-center">
						<div class="col-10 item">
							<a href="<!--SYS_VAL%link%-->">
							<div class="d-flex justify-content-center icon">
								<img src="<!--SYS_VAL%image%-->"></img>
							</div>
							<div class="title">
								<span><!--SYS_VAL%name%--></span>
							</div>
							</a>
						</div>
				</div>
				<!--/SYS_BLOCK%top_block%-->
			</div>
			<ul class="menu">
				<!--SYS_BLOCK%menu%-->
				<li><a href="<!--SYS_VAL%link%-->"><!--SYS_VAL%name%--></a></li>
				<!--/SYS_BLOCK%menu%-->
			</ul>
		</div>
